<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directory</title>
  <link rel="stylesheet" href="../iframestyle.css">
  <link rel="stylesheet" href="./style.css">
  <script src="./action.js"></script>
  <script src="../../public/sconnetSderbarDirectory.js"></script>
</head>
<body>
  <div id="container">
    <div id="searchDiv">
      <textarea id="searchTextArea" wrap=off spellcheck="false" placeholder="回车搜索..."></textarea>
    </div>
    <div id="currentFile">
      <span style="margin-left: 10px;">当前文件：</span>
      <span id="pathSpan"></span>
    </div>
    <div id="filesDiv">
      <div class="singleFile">
        <div class="fileNameDiv">
          <img src="../../../assets/directory_icon.svg">
          <span class="fileName">文件名</span>
        </div>
        <p class="fileDesc">文件简单描述</p>
        <div class="fileInfoDiv">
          <span class="fileInfo">文件信息</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>