<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directory</title>
  <link rel="stylesheet" href="../iframestyle.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="container">
    <div id="searcDiv">搜索框</div>
    <div id="filesDiv">
      <div class="singleFile">
        <h4 class="fileName">文件名</h4>
        <p class="fileDesc">文件简单描述</p>
        <span class="fileInfo">文件信息</span>
      </div>
    </div>
  </div>
</body>
</html>