<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SideBar</title>
  <link rel="stylesheet" href="../iframestyle.css">
  <link rel="stylesheet" href="./style.css">
  <script src="../../utils/saveObtainFile.js"></script>
  <script src="./action.js"></script>
  <script src="../../utils/menu.js"></script>
  <script src="../../utils/UUID.js"></script>
  <script src="../../public/sconnetSderbarDirectory.js"></script>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="imgshell">
        <img src="../../../assets/head.jpg">
      </div>
    </div>
    <div id="name">
      <span class="spanout">Miao_Miao</span>
    </div>
 
    <div id="createBtn">
      <button>
        <img src="../../../assets/add_icon.svg">
        <span>新文档</span>
      </button>
    </div>

    <div id="menu">
      <div id="recentopen" class="mainmenu">
        <img src="../../../assets/clock_icon.svg">
        <span>最近文档</span>
      </div>
      <div id="menuBody">
      </div>
    </div>
  </div>
</body>
</html>