<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FilePage</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="../iframestyle.css">
  <script src="./js/tinymce/tinymce.min.js"></script>
  <script src="../../utils/saveObtainFile.js"></script>
  <script src="./configTiny.js"></script>
  <script src="./action.js"></script>
  <script src="../../utils/menu.js"></script>
  <script src="../../public/connetSderbarDirectory.js"></script>
</head>
<body>
  <div id="container">
    <div id="titleDiv">
      <!-- wrap 不会自动换行  spellcheck 去除文本检测，不会出现波浪线-->
      <textarea id="titleInput" wrap=off spellcheck="false" placeholder="无标题文档"></textarea>
    </div>
    <div id="nodeDiv">
      <textarea id="miaonote">Hello, World!</textarea>
    </div>
  </div>
</body>
</html>